<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if pdb_files %}
            All PDBs:
            <ul>
                {% for pdb_file in pdb_files %}
                    <li><a href="{% url 'detail' pdb_file.id %}">{{ pdb_file.pdb_file.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No PDB.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload_file" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.pdb_file.label_tag }} {{ form.pdb_file.help_text }}</p>

            <p>
                {{ form.pdb_file.errors }}
                {{ form.pdb_file }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
        <a href="{% url 'index' %}">Home</a>
    </body>
</html>